div {
  width: 100px;
  height: 50px;
  position:relative;
  left:0
  
}
.move0 {
  background-color: tomato;
  transition: left 5s linear;
}
.move1 {
  background-color: lightgreen;
  transition: left 5s ease;
}
.move2 {
  background-color: lightblue;
  transition: left 5s ease-in;
}
.move3 {
  background-color:darkgoldenrod;
  transition: left 5s ease-out;
}
.move4 {
  background-color: pink;
  transition: left 5s ease-in-out
}
